<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="userManagerTarget" class="org.insia.eLibrary.services.impl.UserManagerImpl">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>
	<bean id="userManager" parent="transactionProxy">
		<property name="target">
			<ref bean="userManagerTarget"/>
		</property>
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		</property>
	</bean>
	<bean id="reservationManagerTarget" class="org.insia.eLibrary.services.impl.ReservationManagerImpl">
		<property name="reservationDao">
			<ref bean="reservationDao" />
		</property>
	</bean>
	<bean id="reservationManager" parent="transactionProxy">
		<property name="target">
			<ref bean="reservationManagerTarget"/>
		</property>
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		</property>
	</bean>
	<bean id="mediaManagerTarget" class="org.insia.eLibrary.services.impl.MediaManagerImpl">
		<property name="mediaDao">
			<ref bean="mediaDao" />
		</property>
	</bean>
	<bean id="mediaManager" parent="transactionProxy">
		<property name="target">
			<ref bean="mediaManagerTarget"/>
		</property>
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		</property>
	</bean>

	<bean id="bookManagerTarget" class="org.insia.eLibrary.services.impl.BookManagerImpl">
		<property name="bookDao">
			<ref bean="bookDao" />
		</property>
	</bean>
	<bean id="bookManager" parent="transactionProxy">
		<property name="target">
			<ref bean="bookManagerTarget"/>
		</property>
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		</property>
	</bean>

	<bean id="ebookManagerTarget" class="org.insia.eLibrary.services.impl.EBookManagerImpl">
		<property name="EBookDao">
			<ref bean="EBookDao" />
		</property>
	</bean>
	<bean id="ebookManager" parent="transactionProxy">
		<property name="target">
			<ref bean="ebookManagerTarget"/>
		</property>
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		</property>
	</bean>


</beans>
